* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

.navbar {
    background-image: url(../assets/imagenes/background.webp);
    padding-top: 7px;
    padding-left: 1rem;
}

.categorias {
    text-decoration: none;
    color: white;
}

.carroCompras {
    display: flex;
    justify-content: flex-end;
    color: white;
    margin-right: 1rem;
}