* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  height: 18%;
  background-image: url(../assets/images/Background/background.webp); }
  header nav div .letra-mio {
    text-decoration: none;
    color: #F02624 !important;
    font-family: Parisienne;
    font-size: 3rem;
    margin-right: 4rem; }
  header nav div div ul li {
    font-family: Orbitron; }
  header nav div div ul div li ul {
    text-decoration: none;
    font-family: Orbitron; }

main {
  height: 75%;
  font-family: Crimson Text;
  color: #20df20;
  padding-top: 3rem;
  background-image: url(../assets/images/Background/backgroundmain.webp); }

main div div section {
  margin-bottom: 1rem; }
  main div div section .letra-mio {
    text-decoration: none;
    color: #F02624;
    font-family: Parisienne;
    font-size: 3rem; }
  main div div section div div div section {
    padding-left: 5rem;
    padding-right: 5rem; }
    main div div section div div div section article div div {
      height: 34rem;
      overflow: auto; }

main div div section article div a {
  text-decoration: none;
  color: #20df20; }

main div div section {
  margin-bottom: 2rem; }
  main div div section .letra-mio {
    text-decoration: none;
    color: #F02624;
    font-family: Parisienne;
    font-size: 3rem; }
  main div div section div a {
    text-decoration: none;
    color: #20df20; }

main div div section article a {
  text-decoration: none;
  color: #20df20; }
  main div div section article a h6 {
    font-size: 2rem; }

main div div section .letra-mio {
  text-decoration: none;
  color: #F02624;
  font-family: Parisienne;
  font-size: 3rem; }

main div section div h2 {
  font-size: 3rem;
  color: #F02624;
  font-family: Parisienne; }

main div section div .b_inferior {
  border-bottom: 5px groove #20df20; }

main div section article div .img-comic {
  width: 240px;
  height: 330px; }

main div div nav div .letra-boton {
  text-decoration: none;
  color: #F02624;
  font-family: Orbitron; }

main div div div div section article div .letra-boton {
  text-decoration: none;
  color: #F02624;
  font-family: Orbitron; }

main div section .letra-mio {
  text-decoration: none;
  font-size: 3rem;
  color: #F02624;
  font-family: Parisienne; }

main div section .video {
  width: 560px;
  height: 315px; }

main div section .letra-mio {
  text-decoration: none;
  font-size: 3rem;
  color: #F02624;
  font-family: Parisienne; }

main div section div .margen-yuyu {
  margin-bottom: 5px; }

main div section .letra-mio {
  text-decoration: none;
  font-size: 3rem;
  color: #F02624;
  font-family: Parisienne; }

main div section div .margen-yuyu {
  margin-bottom: 5px; }

main div section .letra-mio {
  text-decoration: none;
  font-size: 3rem;
  color: #F02624;
  font-family: Parisienne; }

main div section div a {
  text-decoration: none;
  color: #20df20; }

main div div section .letra-mio {
  text-decoration: none;
  font-size: 3rem;
  color: #F02624;
  font-family: Parisienne; }

main div div form section .letra-form {
  font-family: Orbitron;
  font-size: 2rem; }

main div div form section div {
  font-family: Crimson Text; }
  main div div form section div .mg-propio {
    margin-top: 2rem; }

footer {
  height: 7%;
  background-image: url(../assets/images/Background/backgroundfooter.webp);
  color: #F02624;
  font-family: Orbitron;
  font-size: 1.5rem; }
  footer div p {
    text-decoration: none;
    color: white;
    font-size: 1rem; }

@media (max-width: 767.98px) {
  .vista-pc {
    display: none; } }

@media (min-width: 767.98px) {
  .vista-m-t {
    display: none; } }
